/* STYLE SHEET FOR LOVE-RUNNING PAGE */

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: lato-light, sans-serif;
}

h1,h2,h3 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.hidden-heading {
  display: none;
}

/* Header  */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    /* below added for toggle elements */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  left: 0;
  background-color: #ffffff;
  width: 100%;  
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  /* below hides the display of nav  */
  display: none;
  /* below added to move the nav elements after the parent */
  top: 100%;
}

/* Nav toggle */
/* target the nav element when checked - targeting is done by tilde ~ */
#nav-toggle:checked~nav{
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}

#cover-text{
  /* Final rgba value sets opacity so the background is semi-transparent */
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
  color: #ffffff;
}

/* Reasons-related styling */
#reasons {
  width: 90%;
  margin: 20px auto;
  /* 
  margin-top: 20px;
  margin-bottom: 20px; 
  */
}

#reasons  h2 {
  font-size: 280%;
  margin-bottom: 20px;
  text-align: center;
  /* text-transform: uppercase; */
}

#benefits-physical > div, #benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}

#benefits p {
  padding: 0 20px;
}

hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#circle-cover-bg {
  width: 90vw;
  height: 90vw;
  background: url("../images/reasons-image.webp") no-repeat top center / cover;
  position: relative;
  margin-bottom: 20px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#times {
  background: url(../images/dublin-city.webp) no-repeat center / cover;
  /* position: relative; */
  /* Below handles responsivisivity without the need for a media query */
  display: flex;
  flex-wrap: wrap;
}

#times > div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  /* BElow ensures that the divs will not wrap on screens less than 400px wide */
  /* Each div will expand to fill the available space in its own row  */
  flex-basis: 200px;
  flex-grow: 1;
  /* Below creates a divide of meet-up times as a grid */
  border: solid 2px white;
}

/* Override the header color for the meet-up time section */
#times h3 {
  color: #fafafafa;
}

/* GALLERY PAGE */
#photos img {
  /* Below ensures that photos fit the screen and there is no overflow */
  width: 100%;
  /* Below is added in case there is a missing linkfor a photo.  */
  /* To ensure that alt text is readable in that case */
  /* We did this because we added a line height of zero below */
  line-height: 1em;
}

#photos {
  /* Below removes the white space between photos because each photo is seen as text */
  line-height: 0;
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media query large or landscape phones with 576px or higher */
#photos {
  /* photos to be displayed in 2 columns */
  column-count: 2;
  /* no gap between photos */
  column-gap: 0;
}

/* Media query: tablets and larger (768px and higher) */
@media screen and (min-width: 768px) {
  /* Header */
  nav{
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
  }

  #cover-text {
    width: 300px;
    right: 50px;
  }
  /* Reasons section */
  #benefits-physical, #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #benefits-physical > div, #benefits-mental > div {
    width: 75%
  }
  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }

  /* Gallery */
  /* in tablets : will have three columns of photos instead of 2 */
  #photos {
    column-count: 3;
  }
}

/* Large devices */
@media screen and (min-width: 992px) {

  #menu a:hover {
border-bottom: 1px solid #3a3a3a;
    }
  /* Gallery */
  /* Will have 4 photos in a column in larger (laptops or desktops) devices */
  #photos {
    column-count: 4;
  }

  }
  
 /* Devices with 1200px or larger  */
 @media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
  }
  #benefits > div {
    flex:1;
  }

  #benefits-image {
    order:0;
  }
  #benefits-mental {
    order: 1;
  }
  #benefits-mental > div {
    align-self: flex-start;
  }
  #benefits-physical > div {
    align-self: flex-end;
  }
    }

